<div class="w-full h-full p-5 bg-neutral-800 ">
  <button (click)="connect()"
    [ngClass]="
    status ? 'bg-red-600 hover:bg-red-700' : 'bg-green-600 hover:bg-green-700'"
    [title]="status ? 'Online' : 'Offline'"
    class="mb-3 p-3 rounded-full text-white hover:transition-colors transition-colors relative">
    {{ !status ? 'Conectar' : 'Desconectar' }}
  </button>


  <div class="flex flex-row w-full h-5/6  ">
    <!-- Listas de salas -->
    <div class="flex flex-col w-3/12 text-red h-full bg-emerald-800 relative ">
    <div class="overflow-auto">
      @for (item of rooms; track $index) {
      <div class="flex flex-col w-full border-b p-4 text-white hover:bg-emerald-700 "
        (click)="onSelectRoom(item)">
        <div class="flex flex-row w-full">
          <b>Sala {{ item.name }}</b>
        </div>
        <div class="flex flex-row w-full">
          {{ item.numberOfParticipants }} participantes activos
        </div>
        <div class="flex flex-row w-full">
          <button (click)="connect()">Conectar</button>
        </div>
      </div>
      }
      </div>
      <button class="flex flex-row justify-center items-center rounded-full p-5 bg-sky-500 text-white hover:bg-sky-600 absolute end-5 bottom-5" (click)="createRoom()">
        <mat-icon style="color: white;">add</mat-icon>
      </button>
    </div>

    <!-- Espacio de chat -->
    <div class="flex flex-col justify-between w-6/12 h-full bg-emerald-500 p-4 text-white overflow-auto">
      <div class="flex flex-row mb-2 w-full text-lg justify-between items-center">
        @if (currentRoom) {
          <div class="flex flex-row">
            <span>Sala {{ currentRoom?.name }}</span>
          </div>
          <div class="flex flex-row">
            {{ currentRoom?.numberOfParticipants }} participantes activos
          </div>
          <div class="flex flex-row">
            <button mat-flat-button style="background-color: crimson; color: #fff;" (click)="onLeaveRoom()">Salir</button>
          </div>
        }@else {
          <b>Selecciona una sala para ver los mensajes</b>
        }
      </div>
      <div class="flex flex-col h-full  mb-2 rounded-lg p-4 overflow-auto" #scrollContainer>
        @if (currentRoom) { @for (item of currentRoom.messageHistory; track
        $index) {
        <div class="flex flex-row w-full relative mb-5 p-4 rounded-lg shadow-md" [ngClass]="getMessageClass(item)">
          {{ item.content }}

          <span class="absolute -top-3 px-3 rounded-t-lg  start-5"
          [ngClass]="getMessageClass(item)"   
          *ngIf="item.messageType == 'direct_message'">{{item.sentBy?.username === this.username ? 'Tú' : item.sentBy?.username}}</span>
          <span class="absolute -bottom-3 end-5 px-3 rounded-b-lg"
          [ngClass]="getMessageClass(item)"
          >{{item.sent | date: 'dd/MM/yyyy HH:MM:SS' }}</span>

        </div>
        } }
      </div>
      <form class="w-full flex flex-row justify-center justify-self-end" (submit)="sendMessage()">
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Message</mat-label>
            <textarea (keyup.enter)="sendMessage()"  matInput placeholder="Type a message" [(ngModel)]="message" name="message" #messageInput></textarea>
            <button style="font-size: large;" mat-fab color="primary" matSuffix>
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
    </div>
    <!-- Noticaciones -->
    <div class="flex flex-col w-3/12 h-full bg-emerald-800 overflow-auto items-center text-white">
      Notificaciones @for (item of notifications; track $index) {
      <div class="flex flex-row w-80 p-4 border rounded-xl my-2 bg-emerald-700 text-white">
        <div class="flex flex-col w-full">
          <div class="flex flex-row w-full">
            {{ $index + 1 }}. {{ item.message }}
          </div>
          <div class="flex flex-row justify-end w-full">
            {{ item.date | date: 'dd/MM/yyyy HH:MM:SS'  }}
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
